<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Iglesia Bautista Sion</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/jquery-ui/jquery-ui.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
	<script type="text/javascript" th:src="@{/jquery-ui/jquery-ui.js}"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
	
 <div class="parent2">
  <div class="test2"><i class="fa fa-graduation-cap fa-2x" data-toggle="tooltip" title="Seminario"></i></div>
  <div class="test3"><i class="fa fa-sign-in fa-2x" data-toggle="tooltip" title="Login"></i></div>
  <div class="test4"><i class="fa fa-envelope-o fa-2x" data-toggle="tooltip" title="Contacto"></i></div>
  <div class="test1"><i class="fa fa-user fa-2x" data-toggle="tooltip" title="Login"></i></div>
  <div class="mask2"><i class="fa fa-home fa-3x" data-toggle="tooltip" title="Inicio"></i></div>
</div>

<div class="col-12">

</div>

</body>
</html>